<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friends=[{'name':'Jone','age':25,'job':'student'},
        {'name':'Jenny','age':30,'job':None}
        {'name':'Nate','age':30,'job':'teacher'}]
df=pd.DateFrame(friends)
df=df[['name','age','job']]
#데이터프레임

In [ ]:
df.head()

In [ ]:
#csv파일로 저장
df.to_csv('friends.csv', index=True, header=True)

In [ ]:
#로우아이디 안넣고싶다 index=False 컬럼 네임도 False로 바꾸면 안나옴

In [ ]:
#빈값? None 값은 빈칸으로 넣어짐 만약 -등으로 표현해주고 싶은경우
df.to_csv('friends.csv', index=True, header=True, na_rep ='-')