<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

friends = [{'age':15,"job":'student'},
          {'age':25,"job":'developer'},
          {'age':30,"job":'teacher'}]

df=pd.DateFrame(friends,
               index=['John','Jenny','Nate']
               columns=['age','job'])

In [ ]:
df

In [ ]:
# 존과 네이트 정보를 삭제하고싶다! 데이터 프레임에 정보반영 x
df.drop(['없애고 싶은 인덱스 이름'])
df=df.drop(['없애고 싶은 인덱스 이름'])#정보 반영
#다른방법
df=df.drop(['없애고 싶은 인덱스 이름'],inplace=True)#정보반영방법 2

In [ ]:
#만약 인덱스에 숫자가 들어간다면
friends = [{'name':'John','age':15,"job":'student'},
          {'name':'Nate','age':25,"job":'developer'},
          {'name':'Jenny','age':30,"job":'teacher'}]
df=pd.DateFrame(friends,
               columns=['age','job'])
#이 데이터 프레임에서 존과 제니 삭제
df=df.drop(df.index([0,2]))

In [ ]:
#어떤 조건이 있는것을 삭제하고 싶다
df=df[df.age>20] #20살 이상인 사람의 정보만 남김
#컬럼 드랍
df=fd.drop('age',axis=1)