<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friend_dict_list=[
    {'name':'john','age':25,'job':'student'},
    {'name':'Nate','age':30,'job':'teacher'}
]
#파이썬 리스트와 딕셔너리로 데이터프레임을 생성

In [ ]:
df=pd.DataFrame(friend_dict_list)
#데이터 프레임 만들기 그냥 이렇게 만들경우 순서가 뒤죽박죽이됨

In [ ]:
df=df[['name','age','job']]
#순서변경

In [ ]:
#한방에 하기 
from collections import OrderedDict

In [ ]:
friend_ordered_doct=OrderedDoct(
    [ 
        ('name',['Jone','Nate']),
        ('age',[25,30]),
        ('job',['student','teacher'])
    ]
)

In [ ]:
df=pd.DataFrame.reom_dict(friend_ordered_dict)

In [ ]:
df.head()

In [ ]:
#리스트를 사용하는 방법
friend_list=[
    ['john',25,'student'],
    ['Nate',30,'teacher']
]

In [ ]:
column_name=['name','age','job']

In [ ]:
df=pd.DataFrame.from_records(friend_list,columns=column_name)

In [ ]:
df.head()

In [ ]:
#한번에
friend_list=[
    ['name',['Jone','Nate']],
    ['age',[25,30]],
    ['job',['student','teacher']]
]

In [ ]:
df=pd.DataReame.from_items(friend_list)

In [ ]:
df.head()