<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/2%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

In [ ]:
# 연도만 끄집어낸다
def extract_year(row):
    return row.split('-')[0]

In [ ]:
df['year'] = df['yyyy-mm-dd'].map(extract_year)
df

In [ ]:
job_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(job_list)
df

In [ ]:
#map함수를 이용해서 txet를 숫자로 바꾸기
df.job = df.job.map({"student":1,"developer":2,"teacher":3})
df

In [ ]:
#예제
x_y = [{'x': 5.5, 'y': -5.6},
         {'x': -5.2, 'y': 5.5},
         {'x': -1.6, 'y': -4.5}]
df = pd.DataFrame(x_y)
df

In [ ]:
#모든 컬럼에 적용하고 싶을 때
import numpy as np
df = df.applymap(np.around)
df