<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/2%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friends_dict_list = [{'name':'John','age':15,"job":'student'},
          {'name':'Nate','age':25,"job":'developer'},
          {'name':'Jenny','age':30,"job":'teacher'}]
df=pd.DateFrame(friends_dict_list,
               columns=['name','age','job'])

In [ ]:
df['salary']=0 #새로운 열 삽입

In [ ]:
#넘파이를 사용한 샐러리 항목 수정
import numpy as np
df['salary']=np.where(df['job']!='student','yes','no')
#스튜던트가 아닌애들은 샐러리 예스로 나옴

In [ ]:
#시험성적
friends_dict_list = [{'name':'John','midterm':95,"final":85},
          {'name':'Nate','midterm':85,"final":80},
          {'name':'Jenny','midterm':30,"final":10}]
df=pd.DateFrame(friends_dict_list,
               columns=['name','midterm','final'])
#총점추가하기
df['total']=df['midterm']+df['final']
#평균 추가하기
df['average']=df['total']/2
#ABC매기기
grades=[]
for row in df['average']:
    if row>=90:
        grades.append('A')
    elif row>=80:
        grades.append('B')
    else:
        grades.append('F')
df['grade']=grades
#PF로 변경해보자
def pass_or_fail(row):
    if row !=F:
        return "Pass"
    else:
        return "Fail"
df.grade=df.grade.apply(pass_or_fail)

In [ ]:
#피쳐엔지리어링-익스트렉션
data_list=[
    {
        'yyyy-mm-dd':'2000-06-27'
    },
    {
        'yyyy-mm-dd':'2007-10-27'
    },
]
df=pd.DataFrame(date_list,columns=['yyyy-mm-dd'])
#연도만 따로 빼고싶어! 열만들기
def extract_year(row):
    return row.spilt('-')[0]
df['year']=df['yyyy-mm-dd'].apply(extract_year)

In [ ]:
#행만들기
df2=pd.DateFrame(
[
    ['Ben',50,50]
],colums=['name','midterm','final'])
#합치기
df.append(df2,ignore_index=True)