<a href="https://colab.research.google.com/github/kiyer722/SOLUX_summer_data/blob/master/2%EC%A3%BC%EC%B0%A8/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pa

In [ ]:
#데이터 프레임
school_id_list = [{'name': 'John', 'job': "teacher", 'age': 40},
                {'name': 'Nate', 'job': "teacher", 'age': 35},
                {'name': 'Yuna', 'job': "teacher", 'age': 37},
                {'name': 'Abraham', 'job': "student", 'age': 10},
                {'name': 'Brian', 'job': "student", 'age': 12},
                {'name': 'Janny', 'job': "student", 'age': 11},
                {'name': 'Nate', 'job': "teacher", 'age': None},
                {'name': 'John', 'job': "student", 'age': None}
         ]
df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])
df

In [ ]:
#NaN값을 쉽게 찾아내는 방법
df.shape

In [ ]:
#더 세세하게 나옴
df.info()

In [ ]:
#다른 방법 T or F 로 표현 됨
df.isna()

In [ ]:
#다른 이름
df.isnull()

In [ ]:
# None값을 다른 값으로 변환하기
df["age"]=df.age.fillna(0) 
#0은 이상하므로 그럴싸 한 값으로 변경시켜줘야 함
#데이터 프레임을 다시 불러서 중간값으로 변경하기
df["age"]=df.age.fillna(df.groupby("job")["age"].transform("median"), inplace=True)